{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{object.title}}</h4>
            </div>
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{ object.preview | media_filter}}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">{{ object.description }}</p>
                        <p class="card-text"><strong>Цена:</strong> ₽ {{ object.price }}</p>
                        <button type="button" class="btn btn-secondary">Заказать</button>
                        <a class="btn btn-lg" href="{% url 'catalog:product_list' %}" role="button">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
